# See https://git-scm.com/docs/gitattributes for more about git attribute files.

# Mark the SQLx files as having been generated.
src-tauri/.sqlx/*.json linguist-generated

bun.lockb linguist-generated
