// Copyright 2024 StarfleetAI
// SPDX-License-Identifier: Apache-2.0

@mixin flex($dir: null, $justify: null, $align: null, $gap: null) {
  display: flex;
  flex-direction: if($dir == 'start' or $dir == 'end', 'flex-#{$dir}', $dir);
  gap: $gap;
  justify-content: if($justify == 'start' or $justify == 'end', 'flex-#{$justify}', $justify);
  align-items: if($align == 'start' or $align == 'end', 'flex-#{$align}', $align);
}
