// Copyright 2024 StarfleetAI
// SPDX-License-Identifier: Apache-2.0

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: Inter;
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: Inter;
  src: url('/fonts/Inter-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: Inter;
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: IBMPlexMono;
  src: url('/fonts/IBMPlexMono-Medium.ttf') format('truetype');
  font-display: swap;
}

@mixin font-inter-400($size, $line-height, $color: null) {
  color: $color;
  font-weight: 400;
  font-size: $size;
  line-height: $line-height;
}

@mixin font-inter-500($size, $line-height, $color: null) {
  color: $color;
  font-weight: 500;
  font-size: $size;
  line-height: $line-height;
}

@mixin font-inter-700($size, $line-height, $color: null) {
  color: $color;
  font-weight: 700;
  font-size: $size;
  line-height: $line-height;
}

@mixin font-mono {
  font-family: IBMPlexMono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
}

@mixin no-text-selection() {
  user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
}

@mixin line-clamp($linesCount: 1) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  visibility: visible !important;
  -webkit-line-clamp: $linesCount;
  -webkit-box-orient: vertical;
}

@mixin text-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
