// Copyright 2024 StarfleetAI
// SPDX-License-Identifier: Apache-2.0

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: Inter;
  src: url('~/assets/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: Inter;
  src: url('~/assets/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: Inter;
  src: url('~/assets/fonts/Inter-Regular.ttf') format('truetype');
}

@mixin font-inter-400($size, $line-height, $color: var(--text-primary)) {
  color: $color;
  font-weight: 400;
  font-size: $size;
  line-height: $line-height;
}

@mixin font-inter-500($size, $line-height, $color: var(--text-primary)) {
  color: $color;
  font-weight: 500;
  font-size: $size;
  line-height: $line-height;
}

@mixin font-inter-700($size, $line-height, $color: var(--text-primary)) {
  color: $color;
  font-weight: 700;
  font-size: $size;
  line-height: $line-height;
}

@mixin no-text-selection() {
  user-select: none; /* Safari */
  -webkit-touch-callout: none; /* iOS Safari */
}
