// Copyright 2024 StarfleetAI
// SPDX-License-Identifier: Apache-2.0

:root {
  --text-primary: #262626;
  --text-secondary: #667085;
  --text-tertiary: #98a2b3;
  --button-primary: #444ce7;
  --button-secondary: #eef;
  --text-on-button: #fcfcfd;
  --border-light: #eaecf0;
  --border-standart: #d0d5dd;
  --gray-200: #e5e7eb;
  --gray-400: #98a2b3;
  --on-surface-secondary: #6b7280;
  --surface-primary: #fff;
  --surface-secondary: #fafafa;
  --shadow-base: 0px 1px 3px 0px #0000001a;
  --statuses-green: #06b365;
  --statuses-red: #d92d20;
}

// html.dark {
// }
